html,
body {
  overflow-x: hidden;
  min-height: 100vh;

  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
/* .Footer {
  position: sticky;
  top: 100%;
} */
@keyframes slideAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
