@import url("https://fonts.googleapis.com/css2?family=Damion&family=Lilita+One&family=Playfair:wght@300&family=Sigmar&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
   list-style-type: disc;
}

.ql-editor {
   min-height: 250px;
   background-color: #e8f6f0;
}
